
.ui.vertical.menu {
  position: absolute;
  height: 20%;
  min-width: 500px;
  min-height: 200px;
  background-color: #F9F9F8;
  z-index: 1;
}

@media (min-width: 319px) and (max-width: 1000px) {
  .ui.vertical.menu {
    width: 100%;
    min-height: unset;
    min-width: unset;
    height: 170px;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .ui.vertical.menu {
    min-height: unset;
    height: 170px;
  }
}
