
.ui.vertical.menu {
  position: absolute;
  height: 20%;
  /*width: 30%;*/
  min-width: 500px;
  min-height: 200px;
  background-color: #F9F9F8;
  z-index: 1;
}

@media (min-width: 361px) and (max-width: 1000px) {
  .ui.vertical.menu {
    width: 100%;
    min-width: unset;
    height: 20%;
  }
}

@media (max-width: 361px) {
  .ui.vertical.menu {
    height: 30%;
  }
}
