
.ui.message {
  position: absolute;
  width: 300px;
  top: 35px;
  right: 100px;
  z-index: 2;
  transition: opacity 1s;
}

@media (max-width: 1000px) {
  .ui.message {
    top: 230px;
    right: 20px;
    width: 200px;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  width: 100%;
}

.remove {
  width: 0 !important;
}
