
<div class="ui fluid right labeled input" [formGroup]="parent">
  <label class="ui label">
    Calle {{ id }}
  </label>
  <input
    [formControlName]="'calle' + id"
    [id]="id"
    (input)="onInput($event)"
    type="text"
    placeholder="Calle {{ id }}"
    [attr.list]="'datalist-' + id"
    name="input-{{ id }}"
    autocomplete="off"
  >
  <div class="ui label">
    <i class="fitted x link red icon"></i>
  </div>
</div>



<datalist [id]="'datalist-' + id">
  <option *ngFor="let street of datalistOptions" value="{{ street }}">
</datalist>

